html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

.footer {
	/*height: 60px;*/
	/*height: 200px;*/
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

.head {
	font-weight: 800;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

a.asc:after {
	content: "\e151";
}

a.desc:after {
	content: "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view td {
	white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
	min-width: 50px;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding: 15px;
	border: none;
}

@media(max-width:767px) {
	.nav li > form > button.logout {
		display:block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
}

.nav > li > form > button.logout:focus {
	outline: none;
}


/* ----------------
    PORTAL CSS
------------------- */

#logo-background {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	background: url(../images/top_background.png) repeat-x;
}

#logo-image {
	background: url(../images/top_right.png) no-repeat;
	margin: 0;
	padding: 0;
	float: left;
	height: 200px;
	width:970px;
}

.modal-dialog-super-large {
	width: 90%;
}

.news-container {
	margin: 15px 0 0 15px;
}


.left-panel .panel-default { border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-bottom:2px #DDD solid; }
.panel-left-default { border-left: 2px #DD4B39 solid; }
.left-panel .panel-default .panel-body { padding:0; margin:0; }
.left-panel .panel-default .panel-body .col-md-12 { margin:0; padding:0; }
.left-panel .panel-default .panel-body .thumbnail { border:none; margin:10px auto; padding:0; position:relative; }
.left-panel .panel:hover img { opacity:.8; }
.left-panel .panel-default .panel-body .icerik-bilgi { margin:30px; }
.icerik-bilgi .btn-primary { float:right; margin-bottom:30px; }
.icerik-bilgi h2 { margin-bottom:30px; color:#333; }
.icerik-bilgi h2:hover { color:#E74C3C; text-decoration:none; }
.icerik-bilgi a:hover { text-decoration:none; }
.icerik-bilgi p { line-height:25px; font-size:14px;}
.icerik-bilgi .btn-group { float:left;}
.btn-group span { font-size:16px; }
.icon-group span { font-size:14px; }
.btn-group div { margin-bottom:10px; }
.btn-group .btn-facebook:hover{color:#3B5998;}
.btn-group .btn-twitter:hover{color:#55ACEE;}
.btn-group .btn-google:hover{color:#DD4B39;}
.vertical-align { display: flex; align-items: center; }

/* Comments */

.detailBox {
	border:1px solid #bbb;
	margin:50px;
}
.titleBox {
	background-color:#fdfdfd;
	padding:10px;
}
.titleBox label{
	color:#444;
	margin:0;
	display:inline-block;
}

.commentBox {
	padding:10px;
	border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
	width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
	width:18%;
}
.actionBox .form-group * {
	width:100%;
}
.taskDescription {
	margin-top: 10px;
}
.commentList {
	padding:0;
	list-style:none;
	overflow:auto;
}
.commentList li {
	margin:0;
	margin-top:10px;
}
.commentList li > div {
	display:table-cell;
}
.commenterImage {
	width:30px;
	margin-right:5px;
	height:100%;
	float:left;
}
.commenterImage img {
	width:100%;
	border-radius:50%;
}
.commentText p {
	margin:0;
}
.sub-text {
	color:#aaa;
	font-family:verdana;
	font-size:11px;
}
.actionBox {
	border-top:1px dotted #bbb;
	padding:10px;
}

a.show-modal-dialog:hover, a.show-modal-dialog:visited, a.show-modal-dialog {
	text-decoration: none;
}


/* smile */
.smile,
[class^="smile-"],
[class*=" smile-"] {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 17px;
	vertical-align: text-top;
	background-image: url('../css/images/vk_small.png');
	background-position: 17px 17px;
	background-repeat: no-repeat;
	border: none;
	outline: none;
}

/*img.[class*=" smile-"] {*/
/*	border: none;*/
/*}*/

.smile-sm-1 {
	background-position: 0 0;
}
.smile-sm-2 {
	background-position: 0 -17px;
}
.smile-sm-3 {
	background-position: 0 -34px;
}
.smile-sm-4 {
	background-position: 0 -51px;
}
.smile-sm-5 {
	background-position: 0 -68px;
}
.smile-sm-6 {
	background-position: 0 -85px;
}
.smile-sm-7 {
	background-position: 0 -102px;
}
.smile-sm-8 {
	background-position: 0 -119px;
}
.smile-sm-9 {
	background-position: 0 -136px;
}
.smile-sm-10 {
	background-position: 0 -153px;
}
.smile-sm-11 {
	background-position: 0 -170px;
}
.smile-sm-12 {
	background-position: 0 -187px;
}
.smile-sm-13 {
	background-position: 0 -204px;
}
.smile-sm-14 {
	background-position: 0 -221px;
}
.smile-sm-15 {
	background-position: 0 -238px;
}
.smile-sm-16 {
	background-position: 0 -255px;
}
.smile-sm-17 {
	background-position: 0 -272px;
}
.smile-sm-18 {
	background-position: 0 -289px;
}
.smile-sm-19 {
	background-position: 0 -306px;
}
.smile-sm-20 {
	background-position: 0 -323px;
}
.smile-sm-21 {
	background-position: 0 -340px;
}
.smile-sm-22 {
	background-position: 0 -357px;
}
.smile-sm-23 {
	background-position: 0 -374px;
}
.smile-sm-24 {
	background-position: 0 -391px;
}
.smile-sm-25 {
	background-position: 0 -408px;
}
.smile-sm-26 {
	background-position: 0 -425px;
}
.smile-sm-27 {
	background-position: 0 -442px;
}
.smile-sm-28 {
	background-position: 0 -459px;
}
.smile-sm-29 {
	background-position: 0 -476px;
}
.smile-sm-30 {
	background-position: 0 -493px;
}
.smile-sm-31 {
	background-position: 0 -510px;
}
.smile-sm-32 {
	background-position: 0 -527px;
}

.hr-sm {
	botder-bottom: 0;
	border-top: 1px solid #eeeeee;
	margin: 10px 0;
}